<!-- templates/article_list.html -->
{% extends 'base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}
    {% for article in articles %}
        <br />
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold"><a href="{% url 'article_detail' article.pk %}">{{ article.title }}
                </a></span> &middot;
                <span class="text-muted">by {{ article.author }} |
                {{ article.date|date:"D, F j, Y - h:i A" }}</span>
            </div>
            <div class="card-body">
                {{ article.body_preview }}
            </div>
            <div class="card-footer text-center text-muted">
                {% if user == article.author %}
                <a href="{% url 'article_edit' article.pk %}">Edit</a> |
                <a href="{% url 'article_delete' article.pk %}">Delete</a>
                {% endif %}

                {% for comment in article.comments.all %}
                    <p>
                        <span class="font-weight-bold">
                            {{ comment.author }} &middot; {{ comment.date|date:"F j, Y" }} &middot;
                        </span>
                        {{ comment }}
                    </p>
                    {% if user == comment.author %}
                        <p><a href="{% url 'comment_edit' comment.pk %}">Edit</a> |
                        <a href="{% url 'comment_delete' comment.pk %}">Delete</a></p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}