<!-- templates/article_detail.html -->
{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock title %}

{% block content %}
    <div class="article-entry">
        <h2>{{ article.title }}</h2>
        <p>by {{ article.author }} | {{ article.date|date:"D, F j, Y - h:i A" }}</p>
        <hr>
        <p>{{ article.body }}</p>
    </div>

    <hr>

    {% if user == article.author %}
        <p><a href="{% url 'article_edit' article.pk %}">Edit</a> |
          <a href="{% url 'article_delete' article.pk %}">Delete</a></p>
    {% endif %}
    <p><a href="{% url 'comment_new' article.pk %}">Add Comment</a></p>
    <p>Back to <a href="{% url 'article_list' %}">All Articles</a>.</p>

    <hr>

    {% for comment in article.comments.all %}
        <p>
            <span class="font-weight-bold">
                {{ comment.author }} &middot; {{ comment.date|date:"F j, Y" }}
            </span>
            {{ comment }}
        </p>
        {% if user == comment.author %}
            <p><a href="{% url 'comment_edit' comment.pk %}">Edit</a> |
            <a href="{% url 'comment_delete' comment.pk %}">Delete</a></p>
        {% endif %}
    {% endfor %}
{% endblock content %}